@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

a {
  font-weight: 700;
  color: #706e6e;
  text-decoration: none;
}

ul {
  display: flex;
  margin: 8px;
  padding: 8px;
  gap: 12px;
  list-style-type: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex: 1; */
}

/* Do we need a group selector here named ".content .???" and place flex: 1 or flex: 1 1 auto; under it? */

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  padding: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background: #eeeeee;
}
